body {
    background-image: url(images/sponge.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 250%;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}

h2 {
    text-align: center;
    font-size: 170%;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

input {
    display: block;
    margin: 0% 4% 3% 4%;
    text-align: center;
    padding: 1%;
    font-size: 100%;
}

label {
    padding-bottom: 0.5%;
    font-size: 100%;
}

.titles {
    display: flex;
    justify-content: space-around;
    margin-top: 1.7%;
    margin-bottom: 2%;
    align-content: center;
    font-size: 150%;
}

h3 {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.items-in-inventory div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;
    font-size: 140%;
}

.butt-container {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.butt {
    padding: 1%;
    cursor: pointer;
}

#submit {
    cursor: pointer;
    background-image: url(images/bubbles.gif);
    background-size: 140%;
    color: white;
}

.img-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    width: 50%;
}