@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&family=Rampart+One&display=swap');

* {
    font-family: 'Fuzzy Bubbles', cursive;
}

body {
    background-image: url(images/sponge.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-size: 250%;
    text-align: center;
    font-weight: bolder;
    margin-top: 2%;
    font-family: 'Rampart One', cursive;
    color: rgb(1, 51, 117);
}

h2 {
    text-align: center;
    font-size: 170%;
    font-weight: bold;
    color: rgb(34, 109, 34);
}

h3 {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    color: rgb(6, 63, 139);
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
    margin-top: 5%;
    margin-left: 20%;
}

.salty {
    margin-left: 10%;
}

img {
    padding-left: 10%;
}

figcaption {
    padding-left: 16%;
    color: rgb(34, 109, 34);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

input {
    display: block;
    margin: 0% 4% 3% 4%;
    text-align: center;
    padding: 1%;
    font-size: 100%;
    background-color: rgba(161, 203, 239, 0.8);
    border: solid rgba(24, 116, 103, 0.6) 2px;
}

label {
    padding-bottom: 0.5%;
    font-size: 100%;
    color: rgb(6, 63, 139);
    text-align: center;
}

.titles {
    display: flex;
    justify-content: space-around;
    margin-top: 1.7%;
    margin-bottom: 2%;
    align-content: center;
    font-size: 150%;
}

.items-in-inventory div {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2%;
    font-size: 140%;
}

.butt-container {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.butt {
    padding: 1%;
    cursor: pointer;
    background-image: url(images/bubbles.gif);
    background-size: 140%;
    color: white;
    border: solid rgba(213, 44, 255, 0.6) 2px;
}

#submit {
    cursor: pointer;
    background-image: url(images/bubbles.gif);
    background-size: 140%;
    color: white;
    border: solid rgba(213, 44, 255, 0.6) 2px;
}

.img-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

img {
    width: 50%;
}