h1 {
    font-size: 200%;
    text-align: center;
    font-weight: bold;
    margin-top: 2%;
}

h2 {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4%;
}

input {
    display: block;
    margin: 0% 4% 3% 4%;
    text-align: center;
    padding: 1%;
    font-size: 100%;
}

label {
    padding-bottom: 0.5%;
    font-size: 100%;
}

h3 {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.items-in-inventory div {
    display: flex;
    justify-content: space-around;
}

.butt-container {
    display: flex;
    justify-content: space-around;
    margin: 2%;
}

.butt {
    padding: 1%;
    cursor: pointer;
}

#submit {
    cursor: pointer;
}